<div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/paper-design/angular2-logo.png">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        Angular
      </a>
    </div>
      <ul class="nav">
        <!-- <li class="active">
            <a href="#" >
                <p>Home</p>
            </a>
        </li>

        <li>
            <a>
                <p>Flights</p>
            </a>
        </li>

        <li>
            <a>
                <p>Passengers</p>
            </a>
        </li> -->
<!-- Diese Einträge um routerLink -->
<!-- und routerLinkActive erweitern: -->
<li routerLinkActive="active">
  <a routerLink="home">
      <p>Home</p>
  </a>
</li>

<li routerLinkActive="active">
  <a routerLink="flight-search" >
      <p>Flights</p>
  </a>
</li>

<li routerLinkActive="active">
  <a routerLink="passenger-search">
      <p>Passengers</p>
  </a>
</li>
        <li routerLinkActive="active">
            <a>
                <p>Basket</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a>
                <p>Hide Basket</p>
            </a>
        </li>
      </ul>
  </div>

